input {
  margin-top: 10px;
}

div .members {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: inherit;
  justify-content: space-evenly;
}

div .member {
  padding: 30px;
  margin: 10px;
  background-color: #fff;
}
