.member-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div .members {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  width: inherit;
  justify-content: space-evenly;
}

div .member {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  background-color: #fff;
  align-items: center;
}
div .edit-member {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}

div .member p {
  margin-top: 10px;
}

div svg:hover {
  opacity: 0.5;
  cursor: pointer;
}
