div .member {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  background-color: #fff;
  align-items: center;
}
div .edit-member {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}
